html, body, #map-canvas { 
    height: 92%;
    margin: 10px;
    margin-bottom: 0px;
    padding: 0;
    background-color: #f5f5f4;
}


.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.caption {
    color: #888888;
    display: inline;
    padding: 0 .5em 0 0;
}

.field {
    color: #67abdb;
}

.film-autocomplete {
    margin-left: 25%;
    width: 50%;
}

.center {
    text-align: center;
}

.shadow-box {
}